extends layout

block content

   .container
      h1 contact...
      p page kan waxa ugu talo galney in macamiil kasto oo soo galo in uu ka hello maclumad walbo uu kaga
      bahan yahey waxu u shaqen dona bulshada somaliyed hadaba maxad talo iyo fikrad ino heysaa macmiilkena sharafta le in badan soo dhawoow talo ama firkad ah aad heyso inogu so dir contact


      ul

        li something
        li something 2
        li i'm owesome
        p Sed vitae dictum libero. Quisque placerat, mi non congue fringilla, enim odio commodo tellus, at ullamcorper velit leo id erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec metus ac felis sodales pellentesque. In vitae dapibus odio. Aliquam convallis, tellus ut commodo auctor, ante lorem tempor lectus, et sagittis purus velit id nisi. Fusce mattis dictum risus at placerat. Praesent porttitor gravida nibh, vel lobortis eros lobortis euismod. Quisque vulputate efficitur purus, et hendrerit magna gravida eget. Donec at urna augue. Maecenas malesuada augue ante, quis ultrices urna feugiat accumsan. Donec vitae pharetra arcu, id pretium turpis.
          More owesome :D  