extends layout

block content
  .container
   .jumbotron 
           .container
                h1 hello there,how are you today?
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget volutpat elit. Pellentesque luctus turpis quis justo eleifend, at consectetur neque condimentum. Suspendisse et sapien nec nibh suscipit varius quis semper dolor. In tincidunt feugiat dolor quis aliquet. Nullam a consequat augue, vitae rutrum sapien. Nulla lectus massa, lacinia sit amet nisi vel, varius posuere justo. In viverra, mauris et lacinia ultrices, ipsum erat molestie ex, at ultricies felis magna non lectus. Pellentesque porta, libero ac molestie faucibus, neque ligula varius nunc, sed gravida quam metus sed arcu.
                a.btn.btn-primary.btn-lg(href='about') see about us ?
        .container
           .row
           .col-md-4

                               h2 About me
                               p Sed vitae dictum libero. Quisque placerat, mi non congue fringilla, enim odio commodo tellus, at ullamcorper velit leo id erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec metus ac felis sodales pellentesque. In vitae dapibus odio. Aliquam convallis, tellus ut commodo auctor, ante lorem tempor lectus, et sagittis purus velit id nisi. Fusce mattis dictum risus at placerat. Praesent porttitor gravida nibh, vel lobortis eros lobortis euismod. Quisque vulputate efficitur purus, et hendrerit magna gravida eget. Donec at urna augue. Maecenas malesuada augue ante, quis ultrices urna feugiat accumsan. Donec vitae pharetra arcu, id pretium turpis.
                               a.btn.btn-default(href='/about') View Details.

               
           .col-md-4

                               h2 About me
                               p Sed vitae dictum libero. Quisque placerat, mi non congue fringilla, enim odio commodo tellus, at ullamcorper velit leo id erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec metus ac felis sodales pellentesque. In vitae dapibus odio. Aliquam convallis, tellus ut commodo auctor, ante lorem tempor lectus, et sagittis purus velit id nisi. Fusce mattis dictum risus at placerat. Praesent porttitor gravida nibh, vel lobortis eros lobortis euismod. Quisque vulputate efficitur purus, et hendrerit magna gravida eget. Donec at urna augue. Maecenas malesuada augue ante, quis ultrices urna feugiat accumsan. Donec is.

                               a.btn.btn-default(href='/contact') Contact. 

           .col-md-4

                              h2 About me
                              p Sed vitae dictum libero. Quisque placerat, mi non congue fringilla, enim odio commodo tellus, at ullamcorper velit leo id erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec metus ac felis sodales pellentesque. In vitae dapibus odio. Aliquam convallis, tellus ut commodo auctor, ante lorem tempor lectus, et sagittis purus velit id nisi. Fusce mattis dictum risus at placerat. Praesent porttitor gravida nibh, vel lobortis eros lobortis euismod. Quisque vulputate efficitur purus, et hendrerit magna gravida eget. Donec at urna augue. Maecenas malesuada augue ante, quis ultrices urna feugiat accumsan. Donec vitae pharetra arcu, id pretium turpis.
                              a.btn.btn-default(href='/about') Dunno.                                 




