extends layout
doctype html
html
  head

   link(href='stylesheets/style.css', rel='stylesheet')

  body

block content

    .container

           .row
           .col-md-4
                     
                            
                               h2 xuskii 14 octo...
                               p Sed vitae dictum libero. Quisque placerat, mi non congue fringilla, enim odio commodo tellus, at ullamcorper velit leo id erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec metus ac felis sodales pellentesque. In vitae dapibus odio. Aliquam convallis, tellus ut commodo auctor, ante lorem 

               
           .col-md-4

                               h2 sheikh umal oo ka hadley...
                               p Sed vitae dictum libero. Quisque placerat, mi non congue fringilla, enim odio commodo tellus, at ullamcorper velit leo id erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec metus ac felis sodales pellentesque.  

           .col-md-4

                              h2 mas'ul lagu qabtey..
                              p Sed vitae dictum libero. Quisque placerat, mi non congue fringilla, enim odio commodo tellus, at ullamcorper velit leo id erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec metus ac felis sodales pellentesque. In vitae dapibus odio. Aliquam convallis, tellus ut commodo auctor, ante lorem tempor lectus, et sagittis purus velit id nisi. Fusce mattis dictum risus at placerat. Praesent porttitor gravida nibh, vel lobortis eros lobortis euismod. 
      

          
           .col-md-4

                              h2 Somaliland oo heshiis dalba...
                              p Sed vitae dictum libero. Quisque placerat, mi non congue fringilla, enim odio commodo tellus, at ullamcorper velit leo id erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec metus ac felis sodales pellentesque. In vitae dapibus odio. Aliquam convallis, tellus ut commodo auctor, ante lorem tempor lectus, et sagittis purus velit id nisi. Fusce mattis dictum risus at placerat. Praesent porttitor gravida nibh, vel lobortis eros lobortis euismod. 



           
           .col-md-4

                              h2 Masuul ka tirsan dowlada...
                              p Sed vitae dictum libero. Quisque placerat, mi non congue fringilla, enim odio commodo tellus, at ullamcorper velit leo id erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec metus ac felis sodales pellentesque. In vitae dapibus odio. Aliquam convallis, tellus ut commodo auctor, ante lorem tempor lectus, et sagittis purus velit id nisi. Fusce mattis dictum risus at placerat. Praesent porttitor gravida nibh, vel lobortis eros lobortis euismod. 




          
           .col-md-4

                              h2 Tabobar aqoon karorsi
                              p Sed vitae dictum libero. Quisque placerat, mi non congue fringilla, enim odio commodo tellus, at ullamcorper velit leo id erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse nec metus ac felis sodales pellentesque. In vitae dapibus odio. Aliquam convallis, tellus ut commodo auctor, ante lorem tempor lectus, et sagittis purus velit id nisi. Fusce mattis dictum risus at placerat. Praesent porttitor gravida nibh, vel lobortis eros lobortis euismod. 
