doctype html
html
  head

   link(href='stylesheets/style.css', rel='stylesheet')

  body

block content

 .container
        h1 Login form...

 .container
    .login
          form.form-signin(action='/users/login', method='POST')
           h2.form-signin-heading Please sign in
           label.sr-only(for='inputEmail') Email add
           input#inputEmail.form-control(type='email', name='email', placeholder='Email address', required='', autofocus='')
           br
           br
           label.sr-only(for='inputPassword')   Password
           input#inputPassword.form-control(type='password', name='password', placeholder='Password', required='')
           br
           button.btn.btn-lg.btn-default.btn-block(type='submit') Sign in